/* Styles for the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the thumb (change the alpha value for transparency) */
  border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: black; /* Color of the track */
}

/* Hover effect on the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(84, 84, 84, 0.7); /* Color on hover (change the alpha value for transparency) */
}

/* Hover effect on the scrollbar track */


/* You can also add other styles or adjust the values as needed */
